
/**            -----------generales -----------                   **/


a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
h5{
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
    font-weight: bold;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.8rem;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    border: 0;
    background-color: #f9f6ff;

}
img{
    max-width: 100%;
}


/**         ------------------ Header   --------------              **/



.encabezado{
    
background-image: url(../img/imagen_header.webp);/** la imagen no tiene la mejor calidad pero es la que me gusto dsp la cambio por una en mejor calidad**/
height: 30rem;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}


@media (min-width:768px){
    .titulo{
        margin-top: 15rem;

    }
}
.titulo{
text-align: center;
color: white;
margin: 0;

}



.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}


@media (min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
color: white;
margin: 0;
text-align: center;
text-decoration: none;
}
.logo_nombre{
font-weight: 400;
}
.logo_negrita{
font-weight: 700;
}
@media (min-width:768px){
    .navegacion{display: flex;
        gap: 2rem;

}
}


/**      -----------------Navegacion  ------------              **/


.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}


/**         ------------------contenido principal  ----------             **/


@media(min-width:768px){
    .contenido_principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.entrada{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}



/**           --------------boton    ------------          **/



.boton{
    display: block;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    transition: .5s;
}
.boton:hover{
    color: brown;
}
@media(min-width:768px){
    .boton{
        display: inline-block;
    }
}
.boton_primario{
    background-color: black;

}
.boton_secundario{
    background-color: rgb(108, 50, 50);
}


/**       ------------Cursos pagina principal-------------- **/


.curso{
    padding: 0;
    list-style: none;
}
.curso_caja{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.curso_caja:last-of-type{
    border: 0;
    margin: 0;
}
.curso_texto{
font-family: 'PT Sans', sans-serif;
font-weight: bold;
}
.curso_info{
font-weight: normal;
font-size: 2rem;
}


/**                -----------------footer------------- **/


.footer{
    background-color: black;
    padding: 1rem 0;
    margin-top: 1rem;
}
.nosotros_titulo{
    text-align: center;
}

/**                --------------Cursos --------------**/

@media(min-width:768px){
    .sobre_nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

}
@media(min-width:768px){
    .cursos{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.cursos_titulo{
    text-align: center;
}

.curso{
    padding: 3rem;
    border-bottom: 1px solid grey;
}
.curso:last-of-type{
    border-bottom: none;
}
.titulo_receta,.ingredientes,.preparacion{
    text-align: center;
}


/**                -------------------Contacto------------------  **/


.fondo_contacto{
    background-image: url(img/fondo_contacto.jpg);
    height: 20rem;
    width:91rem ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.formulario{
    font-family:'PT Sans', sans-serif ;
background-color: white;
margin: -5rem auto 0 auto;
width:95%;
padding: 1rem;
}
.campo{
display: flex;
margin-bottom: 2rem;
}
.campo_nombre{
flex: 0 0 9rem;
text-align: right;
padding-right: 2rem;
}
.campo_input{
flex: 1;
border: 1px solid grey;

}
.campo_textarea{
height: 20rem;
}

/**       -------- loader -------             **/

.loader{
    position: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 1s, visibility 1s;

}
.loader-hidden{
    opacity: 0;
    visibility: hidden;

}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 1s ease infinite
}
@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}


/*           video responsive?      */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}